{% extends "base.html" %}
{% block title %}Reset Password | The Newshub{% endblock %}

{% block content %}
<div class="login-container col col-md-8 col-lg-6 offset-md-2 offset-lg-3 mx-auto mt-5">
    <div class="card shadow-sm py-4 mx-0 mx-lg-5 px-2 px-lg-5">
        <h1 class="text-center mb-4">Reset Password</h1>

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="mb-3">
                <label for="password_conf" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password_conf" name="password_conf" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Reset Password
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="user-link">Back to Sign In</a>
        </div>
    </div>
</div>
{% endblock %}
